<div class="article_container_main">


    <div class="article_status"></div>


    <div class="article_image"></div>


    <div class="article_container_right">


        <div class="article_title">
            {{title}}
        </div>


        <div class="article_container_info">

            <div class="article_author">
                {{author}}
            </div>

            <div class="article_created">
                {{date}}
            </div>
        </div>


        <div class="article_content">
            {{content}}
        </div>


    </div>


</div>
