
<router-outlet></router-outlet>

<!--

<div class="Z"
     *ngIf="route_watcher.app_mode !== route_watcher.APP_MODE.LAYOUT">

    <div class="A">
        <app-article-list></app-article-list>
    </div>

    <div class="B">
        <div class="BA">
            <app-switcher [switch_data_input]="switch_data"></app-switcher>
        </div>

        <div class="BB">
            <app-article-viewer
                    *ngIf="route_watcher.app_mode === route_watcher.APP_MODE.VIEW">
            </app-article-viewer>

            <app-article-crud-form
                    *ngIf="route_watcher.app_mode === route_watcher.APP_MODE.EDIT">
            </app-article-crud-form>
        </div>
    </div>

</div>
-->
