<div class="Z">

    <div class="A">
        <app-articles-list></app-articles-list>
    </div>

    <div class="B">
        <div class="BA">
            <app-switcher [switch_data_input]="switch_data"></app-switcher>
        </div>

        <div class="BB">
            <!--
            <app-cmp-articles-syncer *ngIf="app_mode === app_modes.HOME"></app-cmp-articles-syncer>
            -->
            <app-article-viewer
                    *ngIf="rotuer_watcher.app_mode === rotuer_watcher.APP_MODE.VIEW">
            </app-article-viewer>

            <app-article-crud-form
                    *ngIf="rotuer_watcher.app_mode === rotuer_watcher.APP_MODE.EDIT">
            </app-article-crud-form>
        </div>
    </div>

</div>

